<template>
  <div class="fixed-bottom">
    <h5>© 2020, Gammastack</h5>
  </div>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style scoped>
div {
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: rgb(44, 15, 15);
  font-family: fantasy;
  color: white;
  border: none;
}
</style>
