<template>
  <div class="fixed-top">
    <h1>Welcome to Hogwarts Quiz</h1>
  </div>
</template>

<script>
export default {
  name: "Header"
};
</script>


<style scoped>
div {
  width: 100%;
  text-align: center;
  font-family: fantasy;
  padding-top: 10px;
  background-color: rgb(44, 15, 15);
  background-image: url("../assets/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  color: white;

  border: none;
}
</style>
